/* set for body bank */
/* set for nganhangcauhoi */
.row {
    margin-right: -15px;
    margin-left: -15px;
}

* {
    outline: 0 !important;
}

.white-box {
    background: #fff;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 3px #d5d5d5;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

.bank-center {
    margin: 0 -25px;
    border: 20px;
    padding: 0px 10px;
}

.p-t-10 {
    padding-top: 10px !important;
}

.bank-center .bank-body {
    display: table;
    width: 100%;
    padding-right: 0px;
    padding: 5px;
}

.bank-center .bank-contnet {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
}

.bank-center .bank-contnet .time {
    display: inline-block;
    padding-left: 20px;
    font-size: 12px;
    color: #98a6ad;
}

.bank-center .bank-contnet .bank-desc {
    font-size: 14px;
    display: block;
    margin: 15px 0;
    line-height: 25px;
    color: #848a96;
    overflow: hidden;
    max-height: 52px;
    text-overflow: ellipsis;
    font-family: inherit;
    padding-left: 20px;
}

.btn-default {
    color: #848a96;
    background-color: #fff;
    border-color: #fff;
}

.btn-default,
.btn-default.disabled {
    background: #e4e7ea;
    border: 1px solid #e4e7ea;
    border-color: #fff;
}

.btn-rounded {
    border-radius: 60px;
}

.btn-warning {
    margin-left: 20px;
}

/* end css for body bank */

/* title */
.main-content .header-row-list {
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 3px #bac4d8;
}

/* search-box */
.search-box {
    float: right;
    width: 150px;
    height: 40px;
    position: relative;
}

.search-box input,
.search-box .icon {
    transition-duration: 0.3s;
}

.search-box input {
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    height: 30px;
    z-index: 2;
    outline: none;
    color: #999;
    background: transparent;
    border: 2px solid #efefef;
    border-radius: 20px;
    transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

.search-box input:focus {
    color: #333;
    border-color: #d6d6d6;
    width: 150%;
}

.search-box input:focus~.icon {
    opacity: 1;
    z-index: 3;
    color: blue;
}

.search-box .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    cursor: pointer;
    opacity: 0.5;
}

/* 
  end css for search-box */

/* header-row-list */
.title {
    height: 100%;
    width: 40%;
    text-align: -webkit-match-parent;
    float: left;
    text-size-adjust: initial;
    vertical-align: middle;
    align-items: center;
    box-sizing: border-box;
}

.header-row-list .header-wrapper-end {
    height: 100%;
    vertical-align: middle;
    align-items: center;
    box-sizing: border-box;
    width: 60%;
    padding-right: 10px;
}

.header-item-wrapper {
    display: flex;
    box-sizing: border-box;
    margin: 0 8px;
}

.header-item-wrapper:hover {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header-row-list .header-item-wrapper .fomat-icon-menu {
    color: #254994;
    font-size: 20px;
    margin: 0 8px;
}

.header-row-list .header-item-wrapper .item-text {
    color: #254994;
    line-height: 21px;
}

/* header-row-list */
/*content*/
/* sua lai css cho ten de thi va button xoa */
.bank-body .bank-contnet .exam-name {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bank-body .bank-contnet .dt-delete {
    color: #848a96;
    border-color: #ffff;
}

/* het phan sua css cho ten de thi va button xoa */