.checked {
    background-color: #a7cddf !important;
}

#info {
    height: 100%;
    width: calc(100% - 216px) !important;
    padding: 8px 0 0 8px;
}

.content .infor {
    height: 100%;
    width: calc(100% - 216px) !important;
    padding: 8px 0 0 8px;
}

.purple-blue-text {
    color: #4e73df;
}