* {
  margin: 0;
  padding: 0px;
  font-size: 14px;
}

.separation {
  height: 1px;
  background-color: #b9b9b9;
  width: 90%;
  margin: 0 auto;
}

.item-center {
  align-items: center;
}

#wrapper {
  display: flex;
}

/*========================= menu-left ==========================================*/
.menu-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #4e73df;
  transition: 0.3s;
  background-image: linear-gradient(to bottom, #1f3b8e, rgb(89, 192, 198));
}

#menu-icon {
  z-index: 1001;
}

.menu-left .logo {
  width: 100%;
  background-color: #254994;
  height: 60px;

}

.menu-left .logo {
  color: white;
  vertical-align: middle;
  line-height: 60px;
}

.text-center {
  line-height: 60px;
}

/* .menu-left .menu-wrapper {

  } */
.menu-left .menu-wrapper .menu-item-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.menu-left .menu-wrapper .menu-item-wrapper:hover {
  font-weight: bold;
  cursor: pointer;
}

.menu-left .menu-wrapper .menu-item-wrapper .menu-item-text {
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 14px;
}

.menu-left .menu-wrapper .menu-item-wrapper .menu-item-icon {
  width: 17px;
  height: 17px;
  margin: 0 8px;
  vertical-align: middle;
}

.menu-left .menu-wrapper .menu-item-wrapper .format-icon-menu {
  font-size: 20px;
  color: white;
  margin: 0 10px;
}

/*=========================================== main-content =========================================*/
.main-content {
  background-color: #f8f8f8 !important;
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  overflow-x: hidden;

}

.main-content .header {
  height: 60px;
  width: 100%;
  box-shadow: 0 0 2px 0;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

@media (max-width: 768px) {
  .menu-left {
    left: -200px;
  }

  .main-content {
    left: 0;
  }

  .menu-left.default {
    left: 0 !important;
  }

  .main-content.default-main {
    left: 200px !important;
  }
}

/* ===========================header=============================== */
.header .header-wrapper-end {
  height: 100%;
  vertical-align: middle;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-right: 10px;
}

.header-item-wrapper {
  display: flex;
  box-sizing: border-box;
  margin: 0 8px;
}

.header-item-wrapper:hover {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header .header-item-wrapper .format-icon-menu {
  color: #254994;
  font-size: 20px;
  margin: 0 8px;
}

.header .header-item-wrapper .item-text {
  color: #254994;
  line-height: 21px;
}

/* ============content================ */

.content {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.content .table-content {
  height: 100%;

  width: calc(100% - 216px);
  padding: 8px 0 0 8px;
}

/* =====================toolbar================================ */
.content .table-content .toolbar {
  width: 100%;
  height: 40px;
  background-color: #4e73df;
  overflow: hidden !important;
}

.content .table-content .toolbar {
  background-color: #4e73df;
  border: none;
  padding: 0 8px;
  border-right: 1px solid #dedede;
  color: white;
  overflow: hidden !important;
}

.content .table-content .toolbar .format-icon-menu {
  margin: 0 8px 0 0;
}

.content .table-content .main-table {
  height: calc(100% - 50px);
  overflow: auto;
  background: #fefefe;
  box-shadow: 1px 2px 2px 1px #dedede;
}

/* ====================thong tin ngan hang==================================== */
.content .infob-content {
  width: 200px;
  margin: 8px;
  min-height: calc(100% - 16px);
  overflow: auto;
  /* height: fit-content; */
  box-sizing: border-box;
  /* border-radius: 10px; */
  border: 1px solid #ffffff;
  background-color: white;
  padding-left: 8px;
  box-shadow: 0px 2px 2px 2px #dedede;
}

/* =================sua class cua bootstrap================================== */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 0;
}

.col-3 {
  padding-right: 0px !important;
  padding-left: 0px !important;

}

.menu-left.active {
  left: -200px !important;
}

.main-content.active-main {
  left: 0 !important;
}

.menu-left .logo i.active {
  position: absolute;
  top: 16px;
  left: 210px;
  z-index: 10;
  font-size: 25px;
  color: #254994;
}